body {
    background: rgb(43, 43, 65);
    min-width: 250px;
    height: 300px;
    font-family: Helvetica Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: white;
    padding: 0;
    margin: 0;
}

#popup-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#popup-header {
    font-size: 1rem;
    text-align: center;
}


/* Sweep tab options */

#sweep-tab-options-wrapper {
    flex: 1;
}

#sweep-tab-options {
    margin-bottom: 10px;
    max-height: 132px;
    overflow-y: auto;
    padding: 3px 0;
}


/* WINDOW SETTINGS */

#window-settings {
    padding: 10px 0;
    border-top: 1px solid rgb(100, 100, 100);
    display: flex;
    justify-content: space-between;
}

#current-window-switch {
    margin-right: 5px;
}


/* SWEEP BUTTON */

#sweep-button {
    background: CadetBlue;
    color: black;
    width: 100%;
    height: 30px;
    text-align: center;
    border: none;
    cursor: pointer;
}

#sweep-button:hover {
    color: rgb(30, 30, 30);
}

#sweep-button:active {
    background: rgb(78, 129, 131);
}


/* Trigger Add option button */

#trigger-add-option {
    cursor: pointer;
    margin-left: 10px;
}

#trigger-add-option::before {
    content: "+";
    margin-right: 8px;
}

#trigger-add-option:hover {
    color: rgb(221, 221, 221);
}


/* ADD OPTION */

#add-option-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#add-option-wrapper.hidden {
    display: none;
}

#add-option-input {
    flex: 1;
    background: transparent;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgb(180, 180, 180);
    color: rgb(200, 200, 200);
    height: 18px;
    padding-left: 5px;
    outline: none;
    margin: 0 10px 0 5px;
}

#add-option-input::placeholder {
    color: rgb(180, 180, 180);
}

#add-option-button {
    background: transparent;
    color: rgb(180, 180, 180);
    padding: 0 5px;
    height: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

#add-option-button:hover {
    color: rgb(43, 43, 65);
    background: cadetblue;
}

#add-option-button:active {
    color: black;
}


/* TAB OPTION */

.tab-option-wrapper {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 3px;
}

.tab-option {
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tab-option .tab-option-input {
    display: none;
    cursor: pointer;
}

.tab-option .tab-option-checked {
    height: 12px;
    background-color: transparent;
    border: 2px solid cadetblue;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 63%;
    margin-right: 7px;
    color: transparent;
}

.tab-option input:checked~.tab-option-checked {
    color: cadetblue;
}

.tab-option-wrapper .tab-option {
    flex: 1;
    display: flex;
}


/* MESSAGE CONTAINER */

#message-container {
    height: 20px;
    padding: 0 15px;
}

#error-message {
    font-style: italic;
    color: coral;
}


/* DONATION BUTTON */

#donate-button {
    cursor: pointer;
}

#heart-icon {
    width: 14px;
    height: 14px;
    transition: transform .5s;
}

#heart-icon:hover {
    transform: scale(1.3);
}


/* DONATION OVERLAY */

#donation-overlay {
    background: rgb(43, 43, 65);
    position: absolute;
    right: 0;
    bottom: 0;
    width: 250px;
    height: 300px;
    overflow: hidden;
}

#donation-iframe {
    border: none;
    padding: none;
    background: transparent;
    width: 230px;
    height: 300px;
}


/* SHARED */

.close-button {
    width: 18px;
    height: 18px;
    border-radius: 5px;
    background: transparent;
    text-align: center;
    margin: 0 5px;
}

.close-button:hover {
    background: rgb(170, 170, 170);
    cursor: pointer;
}

.close-button:active {
    background: rgb(119, 119, 119);
}

.hidden {
    display: none;
}

.wrapper {
    margin: 0 10px;
}